
@media (min-width: 640px){    
    .form{
        display: flex;
        margin: 100px auto 100px auto;
        width: 75%;
        height: fit-content;
        max-height: 100%;
        background-color:white;
        color: black;
        border-radius: 10px;
        padding: 25px 50px 50px 50px;
    }
    form{
        margin-top: 10px;
        width: 55%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    form button{
        display: block;
        margin:auto;
        margin-top: 30px;
        width: 120px;
        font-size: 22px;
        border-radius:10px;
        padding: 6px;
        cursor: pointer;
    }
    .form h1{
        color: #000;
        text-align: center;
    }
    .flex{
        display: flex;
        flex-direction: row;
        gap: 100px;
        justify-content: space-around;
    }
    .img{
        width: 100%;
    }
    .img label{
        text-align: start;
        padding-left: 150px;
    }
    .img input{
        display: block;
        width: 40%;
    }
    .temperaments{
        display: table-footer-group;
        align-items: start;
        width: 256px;
    }
    form span{
        width: 250px;
        height: 30px;
        color: rgb(208, 72, 72);
        padding-bottom: 1px;
        font-size: small;
        text-align: left;
        text-align: start;
        font-family: 'Roboto', sans-serif;
    }
    .life_span{
        display: flex;
        gap: 25px;
    }
    .life_span input{
        width: 80px;
    }
    .life_span label{
        font-size: 12px;
        margin-bottom:-8px ;
        padding: 0;
    }
    .input{
        display: flex;
        width: 250px;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .flex label{
        font-weight: 800;
    }
    .input input{
        padding: 5px;
        background-color: #E8D5C4;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 28px;
        font-size: 18px;
        line-height: 38px;
        padding-left: 5px;
    }
    .dog{
        height: 500px;
        width: 80%;
        padding: 10px 50px;
        align-items: center;
    }
    .dog h3{
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: -20px;
    }
    .inputimg{
        display: flex;
        width: 250px;
        flex-direction: column;
        margin-bottom: 10px;
        margin-right:-45px;
    }
    .inputimg span{
        width: 200px;
    }
    .flexTemp{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 640px){
    form{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .flex{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: space-around;
    }
    .input{
        display: flex;
        width: 150px;
        flex-direction: column;
        margin-bottom: 15px
    }
    .temperaments{
        display: table-footer-group;
        align-items: start;
    }
    form span{
        width: 150px;
        height: 22px;
        font-weight: 600;
        color: rgb(208, 72, 72);
        padding-bottom: 1px;
        font-size: small;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        width: 80%;
        gap: 30px;
        height: fit-content;
        background-color:white;
        color: black;
        border-radius: 10px;
        padding: 20px;
    }
    .flexTemp{
        display: flex;
        flex-direction: column;
    }
    .flex div{
        margin-bottom: 10px;
        background-color:white;
    }
    .flex label{
        font-weight: 700;
    }
    .flex input{
        padding: 5px;
        margin-top: 4px;
        background-color: #E8D5C4;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        height: 28px;
        line-height: 38px;
        padding-left: 5px;
    }
    .flexTemp div{
        margin: 5px;
        border: #000 solid 1px;
        background-color: #E8D5C4;
    }
    .form button{
        width: 120px;
        margin: 10px auto 0;
        cursor: pointer;
    }
        
}   