.temp{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 3px;
    font-size: 13px;
    background-color: #3A98B9;
    border: black solid 2px;
    border-radius: 20px;
}
.temp button{
    margin: 5px;
}