.container h2{
    color: red;
    cursor: pointer;
}
.container img{
    width: 600px;
    height: 500px;
}
.container h1{
    font-size: 3rem;
    margin-bottom: 0;
}
.container h3{
    margin-top: 0;
    font-size: 1.2rem;
}