
@media (min-width: 640px) {
    .container{
        display: flex; 
        justify-items: start; 
        width: 100%;
    }
    .cardContainer{
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 15px;
        
    }
    .card{
        width: 21%;
        box-sizing: border-box;
    }
  }
@media (max-width: 800px) {
    .cardContainer{
        max-width: 100%;
        margin: 20px 6% 0px 5%;
    }
    .card{
        width: 100%;
        padding-bottom: 5px ;
        box-sizing: border-box;
    }


}